extends layout

block stylesheets
	link(rel='stylesheet', href='/css/bootstrap.min.css')
	link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
	link(rel='stylesheet', href='/css/ics-checklist.css')

block scripts
	script(src="/js/jquery.min.js")
	script(src="/js/bootstrap.min.js")
	script(src="/js/ics-checklist.js")

block content
	div#page_cover.container
		div.jumbotron
			h1 ICS Checklist
			ol.lead
				li Select a device
				li Select all used protocols
				li Add more devices if needed
				li Get a summary of warnings &amp; recommendations per device
			a#btn_start_selection.btn.btn-lg.btn-success(role='button') Get started
	div#page_main.container.hidden.page-main
		h1= title
		div.row
			section#sctn_device_overview.col-md-12.hidden
				p Devices currently added: 
					span#spn_device_count 0
		section#sctn_continue_buttons.row.hidden
			button(disabled=true)#btn_add_new_device.col-md-6.btn.btn-success Add new device
			button(disabled=true)#btn_get_summary.col-md-6.btn.btn-info Get summary
		div.row
			section#sctn_add_new_device.col-md-6.device-selection
				h2 Device
				p Select a device type:
				select#lst_device_types
					option(value=null) Loading device types...
				p Select a vendor:
				select#lst_vendors
					option(value=null) Select a device type first
				p Select a device series:
				select#lst_device_series
					option(value=null) Select a vendor first
				p Select a device:
				select#lst_devices
					option(value=null) Select a device series first
			section#sctn_protocols.col-md-6.protocols
				h2 Protocols
				section#sctn_services
				button#btn_submit_protocols.btn.btn-success Submit
		div.row
			section#sctn_summary.col-md-12.printable
		section#sctn_restart_print_buttons.restart-print-buttons.row.hidden
			button#btn_print_summary.col-md-6.btn.btn-success Print summary
			button#btn_restart.col-md-6.btn.btn-warning Restart