extends layout

block stylesheets
	link(rel='stylesheet', href='/css/bootstrap.min.css')
	link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
	link(rel='stylesheet', href='/css/ics-checklist.css')

block scripts
	script(src="/js/jquery.min.js")
	script(src="/js/bootstrap.min.js")
	script(src="/js/management.js")

block content
	h1= title
	div.row
		section#sctn_vendors.col-md-4
			p Vendors:
			select#lst_vendors(multiple)
				option(value=null) Loading vendors...
			div#div_new_vendor
				input#txt_new_vendor
				button#btn_add_vendor Add
		section#sctn_device_series.col-md-4
			p Device series:
			select#lst_device_series(multiple)
				option(value=null) Select a vendor first
			div#div_new_device_series.hidden
				input#txt_new_device_series
				button#btn_add_device_series Add
		section#sctn_devices.col-md-4
			p Devices:
			select#lst_devices(multiple)
				option(value=null) Select a device series first
			div#div_new_device.hidden
				input#txt_new_device
				button#btn_add_device Add
	div.row
		section#sctn_device_types.col-md-2
			p Device types:
			select#lst_device_types(multiple)
				option(value=null) Loading device types...
			div#div_new_device_type
				input#txt_new_device_type
				button#btn_add_device_type Add
		section#sctn_services.col-md-2
			p Services:
			select#lst_services(multiple)
				option(value=null) Loading services...
			div#div_new_service
				input#txt_new_service
				button#btn_add_service Add
		section#sctn_protocols.col-md-2
			p Protocols:
			select#lst_protocols(multiple)
				option(value=null) Loading protocols...
			div#div_new_protocol
				input#txt_new_protocol
				button#btn_add_protocol Add
	div.row
		section#sctn_warnings.col-md-2
			p Warnings:
			select#lst_warnings(multiple)
				option(value=null) Loading warnings...
		section#sctn_new_warning.col-md-2
			label(for='#txt_new_warning_name') Name:
			input#txt_new_warning_name
			br
			label(for='#txt_new_warning_description') Description:
			textarea#txt_new_warning_description		
			button#btn_add_warning Add
		